:root {
  --primary-color: #d9ad26;
  --secondary-color: #d1d3d4;
  --accent-color: #ec1c24;
  --neutral-color: #231f20;

  * {
    box-sizing: border-box;
  }
}

.footer-content {
  p {
    color: var(--secondary-color);
    font-size: 0.75rem;
    margin-top: auto;
  }

  .copyright-icon {
    font-size: 1rem;
  }

  .footer-contact-info, .footer-legal-info {
    display: flex;
    gap: 0.75rem;
    min-height: 1.5rem;
  }

  .footer-icon {
    max-width: 1rem;
    max-height: 1rem;
    margin-top: 0.25rem;
  }
}

.section-bg {
  width: 100vw;
}

.agradecimientos-section {
  overflow: hidden;

  .agradecimientos-wrapper {
    --webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

    .agradecimientos-logos {
      animation: infinite-scroll-animation 60s linear infinite paused;

      > * {
        max-width: 5rem;
      }
    }

    .agradecimientos-logos.start {
      animation-play-state: running;
    }
  }
}

@keyframes infinite-scroll-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - (80px * 23)));
  }
}

.nav-item:first-child:before {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  border-bottom: 1px solid var(--primary-color);
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-inline: auto;
}

.nav-item:after {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  border-bottom: 1px solid var(--primary-color);
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-inline: auto;
}

.contactos-dropdown {
  padding: 3rem 4rem;
  gap: 2rem;
  width: 470px;

  li {
    display: flex;
    gap: 1rem;
    text-align: start;
    align-items: center;
  }

  .contactos-icon {
    max-height: 1rem;
    filter: brightness(0.3);
  }
}

/* DESKTOP MEDIA QUERY /////////////////////////////////////////////////////////////////////////////////// */

@media screen and (width >= 1100px) {
  .hero-content {
    width: 50vw;
    top: 33%;

    .hero-headline {
      font-size: 2.25rem;
      line-height: unset;
    }

    .hero-logo {
      width: 25%;
      max-width: 150px;
    }
  }

  .headline {
    font-size: 2rem;
  }

  .services-content {
    width: 50%;
    right: 0;
    left: auto;
    top: 0;
    gap: 2rem;
    margin-right: 3%;
    justify-content: center;
    align-items: center;

    .service-item-text {
      font-size: 1rem;
    }

    .services-ul {
      gap: 2.75rem;
    }

    .bullet-icon {
      max-height: 0.8rem;
    }
  }

  .header-container {
    padding-left: 120px;
    padding-right: 120px;

    .iso-home-btn {
      max-height: 1.75rem;
    }
  }

  /* .contactos-dropdown {
    padding: 3rem 4rem;
    gap: 2rem;
    width: 470px;

    li {
      display: flex;
      gap: 1rem;
      text-align: start;
      align-items: center;
    }

    .contactos-icon {
      max-height: 1rem;
      filter: brightness(0.3);
    }
  } */

  .nav-item {
    border-bottom: #d9ad26;
  }

  .nav-item:first-child:before {
    content: '';
    display: none;
  }

  .nav-item:after {
    content: '';
    display: none;
  }

  .nosotros-content {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-left: 3%;
    gap: unset;

    .nosotros-headline {
      margin-bottom: 2rem;
    }

    .nosotros-btns {
      margin-top: 4rem;
    }

    .nosotros-btn {
      padding: 1.25rem 3rem;
      gap: 10%;
    }

    .nosotros-text {
      font-size: 1.25rem;
      width: 85%;
    }

    .nosotros-btn-text {
      font-size: 1rem;
    }
  }

  .agradecimientos-section {
    gap: 4rem;

    .agradecimientos-wrapper {
      .agradecimientos-logos {
        max-width: 1440px;

        > * {
          max-width: 7%;
        }
      }
    }

    .agradecimientos-content {
      width: 50%;
      flex-direction: column;
      align-items: center;
      gap: 3rem;

      .agradecimientos-text {
        font-size: 1.25rem;
      }
    }
  }

  footer {
    padding-top: 0.75rem;
  }

  .footer-content {
    list-style: none;

    .footer-content-list {
      width: 100%;
    }

    .footer-contact-info, .footer-legal-info {
      align-items: baseline;
      justify-content: center;
      text-wrap: nowrap;
      gap: 0.5rem;

      p {
        margin-top: unset;
      }

      .footer-icon {
        max-width: 0.75rem;
        max-height: 0.75rem;
      }
    }
  }

  .divider-section {
    height: 4rem;

    .divider-text {
      font-size: 1.25rem;
    }
  }
}

